{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true
  },
  "extends": ["plugin:react/recommended", "airbnb", "plugin:prettier/recommended", "airbnb-typescript"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["tsconfig.json"],
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint"],
  "rules": {
    "prettier/prettier": "error",
    "react/function-component-definition": [2, { "namedComponents": "arrow-function" }],
    "react/require-default-props": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
